<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/出題待機</title>
  <link rel="stylesheet" href="/css/origin.css" />
  <script src="/js/SseAutoRedirectToAnswerPage.js"></script>
  <script>
    window.onload = function() {
      SseAutoRedirectToAnswerPage();
    };
  </script>
</head>

<body>
  <div class="container">
    <div class="display">
      <h3 th:if="${pgameroom}" th:text="${pgameroom.gameRoomName}"></h3>
      <h2>クイズの出題を待っています</h2>
      <div th:if="${participant}">
        <p>[[${participant.userName}]] さんの</p>
        <p>現在の順位：[[${participant_rank}]]位</p>
        <p>現在の得点：[[${participant.point}]]点</p>
      </div>
    </div>

    <div class="iframe-section">
      <iframe th:src="@{./ranking}"></iframe>
    </div>
  </div>
</body>

</html>
