<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/ログイン</title>
  <link rel="stylesheet" href="/css/origin.css" />
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="container">
    <header class="title-section">
      <h1>Quiz_7（仮）</h1>
    </header>

    <div class="links-section">
      <h2>ゲームルーム新規作成</h2>
      <p>新しくゲームルームを作成します</p>
      <hr>

      <form th:action="@{create}" method="post">
        <label for="roomName">ゲームルーム名:</label><br>
        <input type="text" name="roomName" required><br>
        <label for="description">説明入力欄:</label><br>
        <textarea name="description" cols="30" rows="5"></textarea><br>
        <button type="submit">作成</button>
      </form>
      <br>
      <a href="/gameroom" class="button">戻る</a>
    </div>
  </div>
</body>

</html>
