<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/問題作成</title>
  <link rel="stylesheet" href="/css/newOrigin.css" />
</head>

<body>
  <div class="container">
    <div class="display">
      <h2>ゲームルーム: <u>[[${gameroom.roomName}]]</u> の問題作成</h2>

      <div class="scroll-full">
        <label for="quizFormat">出題形式: </label>
        <select name="quizFormat" disabled>
          <option value="4choices" selected>4択クイズ</option>
        </select>

        <form th:action="@{edit_quiz(room=${gameroom.ID})}" method="post" id="edit_quiz">
          <label for="title">問題タイトル: </label><br />
          <input type="text" name="title" size="50" /><br />
          <label for="description">問題文: </label><br />
          <textarea name="description" cols="60" rows="4"></textarea><br />
          <label for="correct_num">正解選択肢: </label>
          <select name="correct_num" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select><br />
          <label for="choice1">選択肢1: </label>
          <input type="text" name="choice1" size="20" /><br />
          <label for="choice2">選択肢2: </label>
          <input type="text" name="choice2" size="20" /><br />
          <label for="choice3">選択肢3: </label>
          <input type="text" name="choice3" size="20" /><br />
          <label for="choice4">選択肢4: </label>
          <input type="text" name="choice4" size="20" /><br />
        </form>
      </div>
    </div>

    <div class="links-section">
      <button type="submit" form="edit_quiz">問題作成/登録</button>
      <a th:href="@{./register_quiz(room=${gameroom.ID})}">戻る</a>
    </div>
  </div>
</body>

</html>
