<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/問題登録</title>
  <link rel="stylesheet" href="/css/newOrigin.css">
</head>

<body>
  <div class="container">
    <div class="display">
      <h3>ゲームルーム情報</h3>
      <p>ルーム名： <span th:text="${gameroom.roomName}"></span></p>
      <p>ルーム概要： <span th:text="${gameroom.description}"></span></p>

      <h3>クイズリスト</h3>
      <ul th:if="${quizList}">
        <li th:each="quiz : ${quizList}">
          <span th:text="${quiz.title}"></span>
        </li>
      </ul>
    </div>

    <div class="links-section">
      <a th:href="@{../gameroom/edit_quiz(room=${gameroom.ID})}">問題作成</a><br />
      <a href="../gameroom">戻る</a>
    </div>
  </div>
</body>

</html>
