<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/待機</title>
  <link rel="stylesheet" href="/css/origin.css">
</head>

<body>
  <div class="container">
    <div class="display">
      <h3>ゲームルーム情報</h3>
      <p>ルームID: <span th:text="${publicGameroom.gameRoomID}"></span></p>
    </div>

    <div class="input-form">
      <a href="../gameroom" class="button">戻る</a>
    </div>
  </div>
</body>

</html>
