<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/待機</title>
  <link rel="stylesheet" href="/css/origin.css">
  <script src="/js/SseGetParticipantsList.js"></script>
  <script type="text/javascript">
    function confirmBack() {
      if (confirm("ゲームルームを中止しますか？")) {
        document.getElementById('cancel_room').submit();
      }
    }

    var sseParticipantsList;
    var ssePageTransition;

    window.onload = function () {
      sseParticipantsList = new SSEparticipantsList;
      ssePageTransition = new SSEpageTransition;
      sseParticipantsList.run();
      ssePageTransition.run();
    };

    window.onbeforeunload = function () {
      sseParticipantsList.close();
      ssePageTransition.close();
    };
  </script>
</head>

<body>
  <div class="container">
    <div class="display">
      <h3>ゲームルーム情報</h3>
      <p>ルーム名： <span th:text="${gameroom.roomName}"></span></p>
      <p>ルーム概要： <span th:text="${gameroom.description}"></span></p>
      <p>参加状況： <span th:text="${#maps.size(pgameroom.participants)}" id="participantNum"></span> / <span
          th:text="${pgameroom.maxPlayers}"></span></p><br>
      <h3>参加者リスト</h3>
      <p id="noParticipant">現在参加者はいません。</p>
      <div class="scroll-half">
        <div id="participantsList">
          <ul th:if="${pgameroom.participants.values().size() > 0}">
            <li th:each="participant : ${pgameroom.participants.values()}">
              <span th:text="${participant.userName}"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="input-form">
      <a th:href="@{/playing/wait(room=${pgameroom.gameRoomID})}" class="colored_button">ゲーム開始</a><br />
      <form th:action="@{./standby/cancel(room=${gameroom.ID})}" method="post" id="cancel_room"></form><br />
      <button type="button" class="colored_button" onclick="confirmBack();">中止</button>
    </div>
  </div>
</body>

</html>
