<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/入室確認</title>
  <link rel="stylesheet" href="/css/origin.css">
</head>

<body>
  <div class="container">
    <div class="display">
      <h3>入室ゲームルーム情報</h3>
      <p>ルーム名： <span th:text="${gameroom.roomName}"></span></p>
      <p>ルーム概要： <span th:text="${gameroom.description}"></span></p>
      <p>ホストユーザ： <span th:text="${pgameroom.hostUserName}"></span></p>
      <p>最大参加人数： <span th:text="${pgameroom.maxPlayers}"></span></p>

      <form th:action="@{./join_check(room=${gameroom.ID})}" method="post" id="join_room"></form>
    </div>

    <div class="input-form">
      <p th:if="${error_result}" th:text="${error_result}" class="error-message"></p>
      <div>
        <p th:if="!${error_result}">このゲームルームに入室 / 参加しますか?</p>
      </div>
      <hr />
      <button type="submit" form="join_room" class="colored_button">入室 / 参加</button><br />
      <a href="../playgame" class="button">戻る</a>
    </div>
  </div>
</body>

</html>
