<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/待機</title>
  <link rel="stylesheet" href="/css/origin.css">
  <script src="/js/SseGetParticipantsList.js"></script>
  <script>
    function confirmBack() {
      if (confirm("ゲームルームを退室しますか？"))
        document.getElementById('exit_room').submit();
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="display">
      <h3>ゲームルーム情報</h3>
      <p>ルーム名： <span th:text="${gameroom.roomName}"></span></p>
      <p>ルーム概要： <span th:text="${gameroom.description}"></span></p>
      <p>ホストユーザ： <span th:text="${pgameroom.hostUserName}"></span></p>
      <p>参加状況： <span th:text="${#maps.size(pgameroom.participants)}"></span> / <span
          th:text="${pgameroom.maxPlayers}"></span></p><br>
      <h3>参加者リスト</h3>
      <p th:if="${pgameroom.participants.values().size() == 0}">現在参加者はいません。</p>
      <div class="scroll-half">
        <div id="participantsList">
          <ul th:if="${pgameroom.participants.values().size() > 0}">
            <li th:each="participant : ${pgameroom.participants.values()}">
              <span th:text="${participant.userName}"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="input-form">
      <form th:action="@{./standby/exit(room=${gameroom.ID})}" method="post" id="exit_room"></form>
      <button type="button" class="colored_button" onclick="confirmBack();">退室</button>
    </div>
  </div>
</body>

</html>
