<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7/ログアウト</title>
  <link rel="stylesheet" href="/css/origin.css" />
</head>

<body>
  <div class="container">
    <header class="title-section">
      <h1>Quiz_7（仮）</h1>
    </header>

    <div class="links-section">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト">
      </form>
    </div>
  </div>
</body>

</html>
