<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7</title>
  <link rel="stylesheet" href="css/origin.css" />
</head>

<body>
  <div class="container">
    <header class="title-section">
      <h1>Quiz_7（仮）</h1>
    </header>

    <div class="links-section">
      <a href="/create_gameroom">ゲームルーム作成</a><br />
      <a href="/join_gameroom">ゲームルーム参加</a><br />
      <a href="/logout">ログアウト</a><br />
    </div>
  </div>
</body>

</html>
