<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Quiz_7</title>
  <link rel="stylesheet" href="/css/origin.css" />
  <script>
    function confirmLogout(event) {
      if (!confirm("ログアウトしますか？")) {
        event.preventDefault();
      }
    }
  </script>
</head>

<body>
  <div class="container">
    <header class="title-section">
      <h1>Quiz_7</h1>
    </header>

    <div class="links-section">
      <a href="../gameroom">ゲームルーム管理</a><br />
      <a href="../playgame">ゲームルーム参加</a><br />
      <form th:action="@{/logout}" method="post" onsubmit="confirmLogout(event)">
        <input type="submit" value="ログアウト">
      </form><br />
    </div>
  </div>
</body>

</html>
